<a href="https://colab.research.google.com/github/Kanguniverse/TIL/blob/main/2022_06_02%5B%EB%B0%B1%EC%A4%80%5D_%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1009번 문제 분산처리

# 풀이 
number = int(input())

for i in range(number):
    a,b = map(int,input().split())
    number_list = []
    for j in range(1,b+1):
        new_data = (a**j)%10
        if new_data not in number_list:
            number_list.append(new_data)
        else :
            break
    if number_list[b%len(number_list)-1] == 0:
        print(10)
    else:
        print(number_list[b%len(number_list)-1])

5
1 6
1
3 7
7
6 2
6
7 100
1
9 635
9

In [ ]:
# 1076번 저항문제

dic = {'black':0, 'brown':1, 'red':2, 'orange': 3, 'yellow':4, 'green':5, 'blue':6,
       'violet':7, 'grey':8, 'white':9}

count = 0
sum = 0
for i in range(3):
    new_data = input()
    count +=1
    if count==1:
        sum+=10*dic[new_data]
    elif count==2:
        sum+=dic[new_data]
    else:
        sum*=(10**dic[new_data])
print(sum)

white
white
white
99000000000

In [ ]:
# 1225번 이상한 곱셈 문제

a,b = input().split()
a.replace('0','')
b.replace('0','')

put_data = list(set(a))
multi_data = list(set(b))

isum = 0

for i in put_data:
    for j in multi_data:
        isum+=int(i)*int(j)*int(a.count(i))*int(b.count(j))
print(isum)

123 45
54